@media (min-width: 991px) {
  #background1 {
    display: none;
  }
  .me {
    display: none;
  }
  .sidenav {
    display: none;
  }
}
@media (max-width: 990px) {
  .menu {
    display: none;
  }
  .icons {
    display: none;
  }
  .projects {
    flex-direction: column;
    grid-template-columns: auto;
    gap: 0;
  }
  .sidenav li {
    margin-bottom: 20px;
  }
  .sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fcfafa;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .sidenav ul {
    padding: 8px 8px 8px 32px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    display: block;
  }
  .sidenav .closebtn {
    background-color: rgba(243, 236, 237, 0);
    border: 0;
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 36px;
  }
  .icon {
    position: absolute;
    bottom: 0;
  }
  .project1 {
    /* height: 100%; */
    margin: 20px;
    margin-bottom: 20px;
  }
}
